/*
Font color - #785953
Background color - #c4feff
highlight - #C19A6B
#00373b
 */

body
{
    width: 80%;
    margin-left: 10%;
    font-family: Century Gothic ,CenturyGothic, AppleGothic, sans-serif;
}

.head
{
    color: #785953;
    background-color: #c4feff;
    font-size: 5em;
    text-align: center;
    padding: 1% 2% 1% 2%;
}

.nav ul
{
    list-style: none;
    background-color: #00373b;
    text-align: center;
    padding: 0;
    margin: 1% 0 1% 0;
}

.nav li
{
    display: inline-block;
}

.nav a
{
    text-decoration: none;
    color: #c19a6b;
    display: block;
    font-size: 1.5em;
    padding: 5px 15px 5px 15px;
}

.nav a:hover
{
    background-color: #087178;
}

.headimage
{
    opacity: 80%;
    margin-bottom: 1%;
}

.centertext
{
    position: absolute;
    top: 40%;
    left: 43%;
    color: #c4feff;
    font-size: 5em;
    margin-top: 1%;
}

.welcome
{
    font-size: 2em;
    padding: 1% 10% 1% 10%;
    color: #785953;
    background-color: #c4feff;
}

.footer
{
    color: #c4feff;
    background-color: #785953;
    font-size: 1.25em;
    text-align: center;
    padding: 2%;
    margin-top: 1%;
}

.sign
{
    text-align: center;
    margin-top: 1%;
}

button
{
    background-color: #00373b;
    border: none;
    color: #c19a6b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5em;
}

button:hover
{
    background-color: #087178;
}

textarea
{
    height: 200px;
    width: 100%;
    resize: none;
    font-size: 1.25em;
}

.textarea
{
    height: 250px;
    width: 40%;
    margin-left: 30%;
}

